{% extends 'myApp/base.html' %}
{% block content %}
    {% for post in posts %}
        <div>
            <h1>
                <div class="post">
                    {% if post.publishedtime %}
                    <h1><a href="{% url 'myapp:post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <h2><p>published: {{ post.publishedtime }}</p></h2>
                    <h2><p>{{ post.text|truncatechars:20 }}</p></h2>
                    {% endif %}
                </div>
            </h1>
        </div>
    {% endfor %}
{% endblock %}