{%  extends 'myApp/base.html' %}
{% block content %}
<div class="date">
    {% if post.publishedtime %}
    {{post.publishedtime}}
    {% else %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'myapp:post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    {% endif %}
</div>
{% if user.is_authenticated %}
    {% if user == post.auth %}
        <a class="btn btn=default" href="{% url 'myapp:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <a class="btn btn-default" href="{% url 'myapp:post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
    {% endif %}
{% endif %}
<h1>
    {{post.title}}
</h1>
<p>{{post.text|linebreaks}}</p>
<div class="comment">
    <form method="post" class="comment-form">
        {{comment.as_p}}
        <button type="submit" class="save btn btn-default">提交</button>
    </form>
</div>

{% endblock %}