{%  extends 'myApp/base.html' %}
{% block content %}
<div class="date">
    {% if post.publishedtime %}
    {{post.publishedtime}}
    {% else %}
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'myapp:post_publish' pk=post.pk %}">Publish</a>
        {% endif %}
    {% endif %}
</div>
{% if uer.is_authenticated %}
    <a class="btn btn=default" href="{% url 'myapp:post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
    <a class="btn btn-default" href="{% url 'myapp:post_remove' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
{% endif %}
<h1>
    {{post.title}}
</h1>
<p>{{post.text|linebreaks}}</p>

{% endblock %}